target/
*.lock
squashfs-root/
*.AppImage
*.AppImage.zsync
*.deb
*.ddeb
*.changes
*.buildinfo
appimage-build
AppDir/
debian/.debhelper/
debian/files
debian/debhelper*
debian/*.substvars
debian/tux-pet/
debian/tux-pet-dbgsym/